@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* CSS Document */

*{padding:0; margin:0;}
body { font-size:75%; color:#000; letter-spacing:-1px; word-spacing:0.2em; -webkit-text-size-adjust:none; font-family: 'NotoKrM'; background: #e9edf5 url(../images/bg.gif) left top repeat-y; }
.pl20{ padding-left:20px;}
.pl10{ padding-left:10px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.mt10{margin-top:10px;}
.mr15{margin-right:15px;}
.mr25{margin-right:25px;}
.mr10{margin-right:10px;}
.pb25{padding-bottom:25px;}
.blue{color:#015afd;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w230{width:230px;}
.w320{width:300px;}
.h360{height:360px;}
.w1390{width:1390px;}
.w100p{width:100%;}
.red{color:rgba(204,0,0,1)}

.textright{text-align:right;}
.textleft{text-align:left;}

.black_shadow {   left: 0px;    top: 0px;    width: 100%;    height: 100%;    display: none;    position: fixed;     z-index: 1000;    opacity: 0.7;    background-color: rgb(0, 0, 0);}
.wrap{background:url(../images/mainbg.jpg) no-repeat 0 0; position:absolute; top:0; left:0; width:100%; height:100%; background-size:cover}
.mainbox{overflow:hidden; width:950px; position:absolute; left:50%; margin-left:-475px; top:200px}
.mainbg{float:left; background:#41a097; width:455px; height:570px; text-align:center; padding-top:105px; box-sizing:border-box;}
.mainform{float:left; background:#233041; width:495px;  height:570px; padding:110px 60px 0 45px; box-sizing:border-box; color:#787d85}
.mainform .log-title{font-size:26px; margin-bottom:55px}
.mainform .login-id{border-bottom:1px solid #56616f; margin-bottom:10px}
.mainform input[type=text],.mainform input[type=password]{background:#233041; border:none; height:50px; line-height:50px; color:#FFF; width:100%}
.mainform .login-pw{border-bottom:1px solid #56616f;}
.mainform .loginsave{height:50px; line-height:50px; color:#cbcbcb}
.mainform .loginsave label{padding-left:5px;}
.mainform  .btn_button{width:385px; background:#448beb; height:50px; line-height:50px; text-align:center; font-size:18px;  color:#FFF; margin-bottom:25px; display:block; border:0; }
.login-find{ text-align:center;}
.login-find ul {overflow:hidden; text-align:center;    position: relative; width:230px; margin:0 auto 30px }
.login-find ul li {  display: table-cell;   position: relative; padding:0 10px; }
.login-find ul li > a {display: block; height: 40px; line-height: 40px; text-align: center; color:#9a9fa7}
.login-find ul li > a::before {display: block; position: absolute;  top: 15px; left: -1px; width: 1px; height:10px;border-left: 1px solid #9a9fa7; content: ''; }
.login-find ul li:first-child > a::before {border-left:none; }
.copyright{text-align:center;}

.sidebar{float:left; width:240px; background:#2b333a; height:auto; display:block}
.sidebar .logo{ height: 59px; font-size: 23px; color: #afb3b7; text-align:center; background:#37414a; line-height:59px; border-bottom:1px solid #37414a; box-sizing:border-box; }
#toggle01{display:none;}
#toggle02{display:block;}
#toggle02 span{ display: inline-block; margin-left: 10px; color: #8a8a8a; font-size: 13px; font-weight: bold; font-family: "Malgun Gothic", "Nanum Gothic", dotum, AppleGothic, sans-serif; }
#toggle02 span b{ margin-left: 10px; color: #484848; font-size: 15px; font-family: 'NotoKrM';}
#toggle02 span strong{ color: #484848; font-size: 22px; letter-spacing: -1px; font-family: 'NotoKrM'; }
.box-profile{padding:30px 15px 10px ; box-sizing:border-box;}

.sidebar-menu{ color:rgb(255,255,255);}
.sidebar-menu .m-title{ padding:15px 0px 15px 20px; display:block; border-bottom:1px solid #4b565f;  box-sizing:border-box; font-size:14px; color:#8f9397; background:url(../images/down_arr.png) no-repeat 205px center #3c4852; cursor:pointer; }
.sidebar-menu .m-title:hover, .sidebar-menu .nav-title-on{color:#FFF; background:url(../images/down_arr_over.png) no-repeat 205px center #57b3c4;}
.sidebar-menu  li a span.mico1{background:url(../images/menu1.png) no-repeat; display:block; padding-left:25px; line-height:150%} 
.sidebar-menu  li a span.mico2{background:url(../images/menu2.png) no-repeat; display:block; padding-left:25px;     line-height: 150%;} 
.sidebar-menu  li a span.mico3{background:url(../images/menu3.png) no-repeat; display:block; padding-left:25px;     line-height: 150%;} 
.sidebar-menu  li a span.mico4{background:url(../images/menu4.png) no-repeat; display:block; padding-left:25px;     line-height: 150%;} 
.sidebar-menu  li a span.mico5{background:url(../images/menu5.png) no-repeat; display:block; padding-left:25px;     line-height: 150%;} 



.sidebar-menu ul> li >ul{margin-left:10px; padding:0 0 20px}
.sidebar-menu ul >li >ul > li{background: url(../images/treeview-black-line.gif) no-repeat left -10px; color: #8b8c8d; font-size: 14px;  width:200px;       padding-left:40px; line-height:180%; padding-right:10px; box-sizing:border-box; padding-top:10px}
.sidebar-menu ul >li >ul > li.on{background: url(../images/treeview-black-line-over.gif) no-repeat left -10px; }	
.sidebar-menu ul li ul li:last-child{background: url(../images/treeview-black-line-last.gif) no-repeat left -10px; }
.sidebar-menu ul li ul li ul {padding:0; margin:0; position:relative; left:-20px}
.sidebar-menu ul li ul li ul li{ padding-left: 20px; background: url(../images/sub_line.png) no-repeat left center; margin:0 }
.sidebar-menu ul li ul li ul li:last-child{background: url(../images/sub_line_last.png) no-repeat left ;  }
.sidebar-menu ul >li >ul > li >a{display:block;}
.sidebar-menu ul >li >ul > li >a:hover, .sidebar-menu ul >li >ul > li >a.navmenuon{color:rgb(255,255,255);}
.sidebar-menu ul >li >ul > li >a.navmenuon2{color:rgb(255,255,255);}



.treeview-black .m1{background:url(../images/menu1.png) no-repeat  left center; display:block; width:18px; height:50px; margin-right:8px; float:left}
.treeview-black .m2{background:url(../images/menu2.png) no-repeat  left center; display:block; width:20px; height:50px; margin-right:8px; float:left}
.treeview-black .m3{background:url(../images/menu3.png) no-repeat  left center; display:block; width:18px; height:50px; margin-right:8px; float:left}
.treeview-black .m4{background:url(../images/menu4.png) no-repeat  left center; display:block; width:18px; height:50px; margin-right:8px; float:left}
.treeview-black .m5{background:url(../images/menu5.png) no-repeat  left center; display:block; width:20px; height:50px; margin-right:8px; float:left}
.treeview-black .subm{padding-left:20px;}
.treeview-black .subm li{color:#8b8c8d; font-size:14px; margin-bottom:10px; padding-left:20px}

.user-w{overflow:hidden;}
.user-w .user-img{float:left; margin-right:25px}
.user-w .user-t{float:left; padding-top:10px; margin-bottom:40px}
.user-w .user-t .user-name{color:#fefefe; display:block; font-size:16px}
.user-w .user-t .user-subname{color:#909192; display:block;  font-size:14px}

.progress-w{overflow:hidden; margin-bottom: 35px; }
.progress-w dl{ margin: 0 auto; padding-top: 20px; width: 100%; font-size: 100%; letter-spacing: 0; border-top: 1px solid #4a5864; }
.progress-w dl dt{ float: left; padding: 0 20px; width: 35%; color: #ffffff; line-height: 25px; }
.progress-w dl dd{ float: left; color: #1ea4aa; line-height: 25px; }

.content-wrapper-w{ overflow:hidden}
.content-wrapper-wbox{background:#e9edf5;  overflow:hidden}
.content-wrapper{float:left;/* height:100%;*/ background:#e9edf5;/* width: calc(100% - 240px);*/ width:100%}
.navbar-static-top{ overflow:hidden; padding-right:30px; height:60px; line-height:60px; padding-left:30px; box-sizing:border-box; background:#f2f2f2; border-bottom:1px solid #dde1e9; }
.navbar-static-top-in{ min-width: 1600px; max-width: 1395px; }
.navbar-custom-menu{float:right;}
.sidebar-toggle {float:left; }
.sidebar-toggle a{ vertical-align: middle; }
.sidebar-toggle strong{ margin-left: 10px; font-size: 23px; vertical-align: middle; }
.navbar-nav{overflow:hidden;}
.nav-visit  span{display:inline-block;}
.nav-visit  .vis-t1{color:#aaaaaa; font-size:12px; padding-right:10px;}
.nav-visit  .vis-t2{color:#515151; font-size:20px;  padding-right:10px;}
.navbar-nav  li{float:left; margin:0 5px}
.navbar-nav .nav-check{background:#f9f9f9; border:1px solid #dddddd; width:100px; padding:5px 0; text-align:center; line-height:15px; box-sizing:border-box; margin-top:15px}
.navbar-nav .nav-check label{padding-left:10px;}
.navbar-nav .nav-logout{background:url(../images/logout.png) no-repeat left center; padding-left:20px; }
.navbar-nav .nav-logout a{color:#999eb6}
.navbar-nav .nav-logout a:hover{ color: #000000; }

.content{ overflow: hidden; padding: 0 30px 15px 30px; }

.today{ float: left; padding: 10px 0; width: 1600px; background: #f0f5f6; }
.today span:first-child{ float: left; display: block; padding: 8px 25px 8px 35px; color: #ffffff; background: #1ccacc url(../images/wifi.png) 10px 10px no-repeat; border-radius: 3px; }
.today span:last-child{ float: left; display: block; margin-left: 10px; font-size: 18px; font-weight: bold; line-height: 35px; }
.today div:first-child{ float: left; margin-left: 15px; }
.today div:last-child{ float: right; margin-right: 15px; }
.today div dl { float:left; }
.today div dt{ float: left; display: block; margin-left: 15px; padding: 0 20px; color: #a5a5a5; font-size: 14px; line-height: 35px; background: #fcfcfd; border: 1px solid #d2dae1; border-radius: 2px; }
.today div dd{ float: left; }
.today div dd input[type="text"] {display: block; margin-left: 3px; padding: 0 20px; color: #444444; font-size: 17px; font-weight: bold; line-height: 35px; background: #fcfcfd; border: 1px solid #e2e7e7; border-radius: 2px; }


.imgview{ float: left; width: 875px; background: #ffffff; }
.imgview ul{ margin: 10px 13px; }
.imgview li:first-child{ float: left; }
.imgview li:first-child div{ position: relative; float: left; width: 723px; height: 484px; }
.imgview li:first-child div a{ opacity: 0.2; }
.imgview li:first-child div a:hover{ opacity: 0.4; }
.imgview li:first-child div .bp{ z-index: 999; position: absolute; left: 0; top: 210px; }
.imgview li:first-child div .bn{ z-index: 999; position: absolute; right: 0; top: 210px; }
.imgview li:last-child{ float: right; text-align: center; }
.imgview li:last-child a{ display: block; margin: 0 auto; width: 113px; }
.imgview li:last-child dt a{ line-height: 23px; border: 1px solid #dbdbdb; }
.imgview li:last-child dt a:hover{ border: 1px solid #b2b2b2; }
.imgview li:last-child img{ margin: 3px 0; }
.imgmap{ float: left; margin-left: 9px; background: #ffffff; }
.imgmap #map{ margin: 10px 13px; width: 690px; height: 486px; }

.part{ margin-bottom: 10px; width: 1598px; }
.part ul{ }
.part li{ float: left; text-align: center; background: #f4f6f9; border: 1px solid #d8d9db; margin-right:15px; margin-bottom:15px; height:200px; }
.part dl{  margin: 10px 30px 10px;width: 180px; }
.part dt{ color: #9c9c9c; font-size: 30px; font-weight: bold; }
.part dt strong{ color: #444444; font-size:22px; height:40px; overflow:hidden; }
.part dd{ padding: 10px; color: #444444; font-size: 16px; font-weight: bold; border-bottom: 1px solid #cbcdcf; }
.part .func { height:40px; margin-top:30px;}
.part dt:first-child{ padding: 5px 0; border-bottom: 1px solid #cbcdcf; }
.part .func a{ display: block; margin: 8px; padding: 0 20px 0 0; font-size: 12px; line-height: 30px; background: url(../images/read_arrow.png) 50px 12px no-repeat; width:50px; border: 1px solid #cbcdcf; float:left; }
.part .func a:hover{ color: #57b3c4; border: 1px solid #c9dadd; }
.part li img{ margin: 0 7px; width: 163px; height: 99px; }
.part li.no_regist, .part li.no_regist dl { width:100%;}
.part li.no_regist dl dd { border:0; }
.cal{ margin-left: 50px; width: 1500px; }
.cal ul{ float: left; }
.cal li{ float: left; }
.cal li:first-child{ width: 100%; }
.cal dl{ float: left; margin: 30px 0 15px; width: 100%; }
.cal dl span:first-child{ float: left; margin-left: 15px; color: #7d7d7d; font-size: 23px; font-weight: bold; }
.cal dl span:first-child strong{ color: #444444; }
.cal dl span:last-child{ float: right; margin-right: 10px;  text-align: right; }
.cal dl dd{ text-align: center; font-size: 23px; font-weight: bold; }
.cal dl dd a{ margin: 0 20px;  }
.cal li:last-child{ padding: 10px; background: #ffffff; }
.cal li:last-child div img{ margin: 18px 15px; width: 260px; height: 194px; box-shadow: 0 1px 5px #bfbfbf;}


.write{ padding: 10px 0; width: 1600px; background: #f0f5f6; overflow:hidden; }
.write dl { float:none; overflow:hidden; margin-bottom:20px;}
.write dl dt{ float: left; min-width:50px; text-align:center; display: block; margin-left: 15px; padding: 0 20px; color: #a5a5a5; font-size: 14px; line-height: 35px; background: #fcfcfd; border: 1px solid #d2dae1; border-radius: 2px; }
.write dl dt label { display:block; width:100%; height:100%; cursor:pointer; }
.write dl dd{ float: left; }
.write dl dd input[type="text"], .write dl dd input[type="file"]  {display: block; margin-left: 3px; padding: 0 20px; color: #444444; font-size: 15px; font-weight: normal; line-height: 35px; background: #fcfcfd; border: 1px solid #e2e7e7; border-radius: 2px; }
.write .info { margin:15px;}
.write .submit { float:left;}
.btn { cursor:pointer; margin-left: 15px; width:auto; display:inline-block; vertical-align:top; box-sizing:border-box; padding: 0 20px; height:40px; color: #000; font-size: 14px; font-weight:normal; line-height: 35px; background: #fcfcfd; border: 1px solid #d2dae1; border-radius: 2px; }




