@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display:block}
body{ min-width: 2000px; color:#000; background:#fff; }
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,nav,menu{
-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none; }
fieldset,img{border:0 none;vertical-align:middle; }
dl,ul,ol,menu,li{list-style:none; list-style-type:none; }
ul:after, ol:after {display:block; height:0; content:""; float:none; clear:both; }
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
address,caption,cite,code,dfn,em,var{font-style:normal;}
a{color: inherit;text-decoration:none;background:transparent;}
a:focus,a:active,a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0;width:100%;table-layout:fixed}
th,td{padding:0; word-break:break-all; }
img { border:0 none; vertical-align:middle; }

legend,.blind {overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:100px;white-space:nowrap}
caption{overflow:hidden;width:0;height:0;font-size:0;line-height:0}
.clear:after{content:'';display:block;clear:both}
.hide{overflow:hidden;position:absolute;left:-9999px;width:0 !important;height:0 !important;font-size:0 !important;line-height:0 !important;margin:0 !important;padding:0 !important}

/* form */
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-moz-placeholder,
input::-moz-placeholder,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {color:#888}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto}
input,select{/* -webkit-appearance:none; */}
select{ -webkit-appearance:none; }
select::-ms-expand {display: none;}
 
button{cursor:pointer;border: 0;}
area:focus { /* outline: 0; */ }

